################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NBPTableApi/.vs/ProjectEvaluation
/NBPTableApi/NBPTableApi/bin/Debug/net8.0
/NBPTableApi/NBPTableApi/obj
/NBPTableApi/.vs/NBPTableApi
/NBPTableApi/NBPTableApi/NBPTableProjectDatabase.db
/NBPTableApi/NBPTableApi/NBPTableProjectDatabase.db-shm
/NBPTableApi/NBPTableApi/NBPTableProjectDatabase.db-wal
